@media screen and (max-width:425px){

  .main_container{
    display: grid;
    grid-template-columns:auto auto auto ;
    grid-template-rows: 30px 30px 40px 355px 45px 20px 30px;
    background-color: blue;
}

  .logo{
  color: black;
  margin: 120px;
  text-decoration: none;
  font-size: 20px;
  grid-row: 1;
} 

body{
  background-color: green;
}

.nav{
  background-color: yellow;
  grid-row: 1;
}

ul{
  display: block;
  list-style-type: none;
  overflow: hidden;
  margin:0px;
  padding: 0px;
  overflow: hidden;
  background-color: brown;
  grid-row: 2;
}

li{
  float: left;
  display: block;
  padding: 4px;
}

li a{
  background-color: purple;
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px 50px;
}

.start_button{
  background-color: red;
  width: 305px;
  height: 50px;
  font-size: 25px;
  color: white;
  border: none;

}

#start_container{
grid-row: 5;
grid-column: 1;
}

.main_game_container{
  background-color: white;
  grid-row: 4;
}
/*****************************************************/
#head_title{
  font-size: 15px;
  text-align: center;
  width: 305px;
  height: 25px;
  margin: 0px;
  grid-row: 3;
  background-color: pink;
}

#character_button_container{
  grid-row: 5;
  text-align: center;
  /*background-color:mediumaquamarine;*/  
  grid-column: 1;
}
#random_court_container{
  grid-row: 6;
  grid-column: 1;
  text-align: center;
/*  background-color: violet;*/
}

#user_character{
  float: left;
  text-align: center;
  grid-row: 3;
  font-size: 20px;
}

#computer_character{
  float: right;
  text-align: center;
  grid-row: 3;
  font-size: 20px;
}

#court_select{
  text-align: center;
  grid-column: 2;
  font-size: 25px;
}

#user_score{
  float: left;
}

#computer_score{
  float: right;
}

/************************************************/
#game_buttons{
  grid-row: 5;
  grid-column: 1;
  margin-left: 35px;
}
#user_move{
  grid-column: 1;
  grid-row: 6;
  text-align: left;
  color: yellow;
  padding-left: 40px;
  font-size: 20px;
}

#computer_move{
  grid-column: 1;
  grid-row: 6;
  text-align: right;
  color: yellow;
  padding-right:40px;
  font-size: 20px;
}


#match_response{
  grid-row: 7;
  grid-column: 1;
  text-align: center;
  color: white;
  padding-bottom: 20px;
}


/************************************************/
#userArt{
  margin-top: 75px;
  height: 200px;
  width: 120px;
  grid-column: 1;
  float: left;
  
}

#computerArt{
  margin-top: 75px;
  height: 200px;
  width: 120px;
  grid-column: 3;
  float: right;
}






/********************************************/
}
