@media only screen 
and (min-width : 1224px) {
    /* Styles */


body{
    background-color:lightgrey;
    margin: 0px;
}

.main_container{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto  ;
    grid-template-rows: 45px 20px 20px 430px 25px 25px;
}

.nav{
text-align: center;
text-decoration: none;
background-color: darkgray;
padding: 05px;
grid-column: 1 / span 12;
}

.menu-nav{
    font-size: 30px;
    position: relative;
    bottom: 25px;
    right: 35px;
}

.logo{
    /*background-color: blue;*/
    text-decoration: none;
    float: left;
    color: white;
    padding: 5px;
    font-size: 30px;
    position: relative;
    left: 25px;
 }

ul{
    list-style-type: none;
    float: right;
    
/*    background-color: blue;*/
}

li{
    display: inline;
    padding-left:50px;
}

li a{
    text-decoration: none;
    display:inline;
    color: white;
}

#start_container{
    /*background-color: gold;*/
    grid-column: 7;
    grid-row: 5;
}

.start_button{
    background-color: yellow;
    border:none;
    text-align: center;
    font-size: 35px;    
    width: 1360px;
    transition: 0.3s;
}

.start_button:hover{
    background-color: orangered
}

#footer{
    text-align: center;
    /*background-color: black;*/
    grid-row: 8;
    grid-column: 1/span 12;
}

.main_game_container{
    margin-top: 0px;
    background-color: white;  
      grid-row: 4;
    grid-column: 1 /span 12;
}

/****************************************************************************************/
 #head_title{
    grid-column: 1/span 12;
    grid-row: 2;
    background-color: darkblue;
    text-align: center;
    font-size: 35px;
}

#character_button_container{
    grid-column: 1 /span 12;
    grid-row: 5;
/*    background-color: green;*/
    text-align: center;
}

#random_court_container{
    grid-column: 1/span 12;
    grid-row: 7;
    /*background: red;*/
    text-align: center;
}

#user_character{
    grid-column: 2;
    grid-row: 2;
    float: left;
    margin-left: 40px;
    text-align: center;
    font-size: 35px;
}

#computer_character{
    grid-column: 10;
    grid-row: 2;
    float: right; 
    margin-right: 40px;
    padding-right: 5px;
    text-align: center;
    font-size: 35px;
}

#court_select{
    grid-column: 6;
    /*margin-left: 600px;*/
    font-size: 35px;
    text-align: center;
}

#user_score{
    float: left;
    margin-left: 50px;
    text-align: center;
    font-size: 25px
}

#computer_score{
    float: right;
    margin-right: 55px;
    text-align: center;
    font-size: 25px;
}

#game_buttons{
  /*  grid-row: 6;
    grid-column: 7; */
    position: fixed;
    top: 525px;
    left: 500px;
}

#user_move{
    grid-column: 1;
    grid-row: 5;
    font-size: 50px;
    padding-top: 20px;
    text-align: center;
}

#computer_move{
    grid-column: 11;
    grid-row: 5;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;

}

#match_response{
grid-row: 5;
grid-column: 1;
text-align: center;
font-size: 15px;
}





}